body {
    font-family     : "Trebuchet MS", Verdana, Arial, sans-serif;
    font-size       : large;
    background      : BlanchedAlmond url('IMG_3521.JPG') no-repeat center fixed;
    background-size : cover;
}

div.mudcontent {
    padding-top     : 7em;
}

span.welcome {
    position        : relative;
    float           : right;
    color           : white;
    top             : 1em;
}

#about {
    background      : linear-gradient(45deg, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.40) 100%);
    border-color    : #777777;
    color           : #ffffff;
    width           : 80%;
    margin-left     : auto;
    margin-right    : auto;

}

#inbox {
    position        : fixed;
    top             : 5em;
    bottom          : 5em;
    left            : 0px;
    right           : 0px;
    overflow        : scroll;
    overflow-x      : hidden;
}

#inboxcontents {
    width           : 80%;
    margin-left     : auto;
    margin-right    : auto;
}

#input {
    position        : fixed;
    bottom          : 1em;
    left            : 0px;
    right           : 0px;
}

#inputcontents {
    width           : 80%;
    margin-left     : auto;
    margin-right    : auto;
}

#inputbox {
    font-size       : large;
    font-family     : "Trebuchet MS", Verdana, Arial, sans-serif;
}

div.alert.mud-echo {
    font-family     : monospace;
    font-size       : x-large;
    padding         : 0px;
}

.mud-echo pre {
    font-size       : large;
    font-weight     : bold;
    /*background-color: white;*/
    border          : none;
    padding         : 0px;
    margin          : 0px;
    background      : linear-gradient(45deg, rgba(0,0,0,0.20) 0%,rgba(0,0,0,0.20) 100%);
    color           : #ffffff;

}

.mud-echo pre:before {
    content         : "> ";
/*    background      : linear-gradient(45deg, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.40) 100%);
    color           : #ffffff;*/
}

.mud-result {
    background      : linear-gradient(45deg, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.40) 100%);
    border-color    : #ffffff;
    color           : #ffffff;
}

.mud-error {
/*    color           : #a94442;
    background-color: #f2dede;
    border-color    : #a94442;*/
    background      : linear-gradient(45deg, rgba(0,30,30,0.40) 0%,rgba(0,30,30,0.40) 100%);
    border-color    : #7FFFD4;
    color           : #7FFFD4;

}

.mud-info {
    background      : linear-gradient(45deg, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.40) 100%);
    border-color    : #999999;
    color           : #ffffff;
    font-style      : italic;
}

/*.form-horizontal{
    background      : linear-gradient(45deg, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.40) 100%);
    border-color    : #777777;
    color           : #ffffff;
    margin: auto;
}*/

i {
    color : #FFB6C1;
}