{% extends "base.html" %}
{% block content %}
<form class="form-horizontal" role="form" method="post" href="/register" enctype="multipart/form-data">
  <div class="form-group">
    <label for="playerUsername" class="col-sm-2 control-label">Identifiant</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="playerUsername" placeholder="Identifiant" name="username">
    </div>
  </div>
  <div class="form-group">
    <label for="playerPassword1" class="col-sm-2 control-label">Mot de passe</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="playerPassword1" placeholder="Mot de passe" name="password1">
    </div>
  </div>
  <div class="form-group">
    <label for="playerPassword2" class="col-sm-2 control-label">Confirmation du mot de passe</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="playerPassword2" placeholder="Mot de passe" name="password2">
    </div>
  </div>
  <div class="form-group">
    <label for="playerDescription" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="playerDescription" placeholder="Description (Facultative)" name="description">
    </div>
  </div>
  <div class="form-group">
    <label for="playerGender" class="col-sm-2 control-label">Sexe</label>
    <div class="col-sm-4">
      <div class="radio-inline">
	<label><input type="radio" name="gender" id="playerMale" value="m" checked>Homme</label>
      </div>
      <div class="radio-inline">
	<label><input type="radio" name="gender" id="playerFemale" value="f">Femme</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-default">Créez votre compte</button>
    </div>
  </div>
<input type="hidden" name="next" value="{{ next }}">
{% module xsrf_form_html() %}
</form>
{% if username_not_available %}
<div class="alert alert-danger">Identifiant déjà utilisé.</div>
{% end %}
{% if password_mismatch %}
<div class="alert alert-danger">Mots de passe incorrects !</div>
{% end %}
{% if username_empty %}
<div class="alert alert-danger">L'identifiant ne doit pas être vide !</div>
{% end %}
{% if password_empty %}
<div class="alert alert-danger">Le mot de passe ne doit pas être vide !</div>
{% end %}
{% if gender_unknown %}
<div class="alert alert-danger">Sexe inconnu : {{ sexe }}</div>
{% end %}
{% end %}
{% block js %}
selected_tab = "#tabregister";
{% end %}
